---
layout: default
---

<article class="post">
  <div class="wrapper">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%B %d, %Y" }}
      </time>
      {% assign words = content | number_of_words %}
      {% assign reading_time = words | divided_by: 225 %}
      {% if reading_time < 1 %}
        {% assign reading_time = 1 %}
      {% endif %}
      •
      {% if reading_time == 1 %}
        1 min read
      {% else %}
        {{ reading_time }} mins read
      {% endif %}
    </div>

    {{ content }}
    {% toc %}

  </div>
</article>

